<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css"></link>

<head th:replace="fragments/header :: header('Melihat Semua Student')">
</head>
<script type="text/javascript">
    $(document).ready(function () {
        $('#student_table_id').dataTable();
    });
</script>
    <body>
        <h1>All Students</h1>
        
        <table id="student_table_id">
        	<thead>
        		<tr>
        		    <th>No</th>
	        		<th>NPM</th>
	        		<th>Name</th>
	        		<th>GPA</th>
	        		<th>Cum Laude</th>
	        		<th>Delete Data</th>
	        		<th>Update Data</th>
        		</tr>
        	</thead>
        	<tbody>
        		<tr th:each="student,iterationStatus: ${students}" th:class="${iterationStatus.odd}?'odd'">
        			<td data-th-text="${iterationStatus.count}"></td>
        			<td data-th-text="*{student.npm}"></td>
        			<td data-th-text="*{student.name}"> </td>
        			<td data-th-text="*{student.gpa}"> </td>
        			<td data-th-text="*{student.gpa >= 3.49} ? 'Cum Laude' : 'Sangat Memuaskan'"></td>
        			<td><a th:href="'/student/delete/' + ${student.npm}" >Delete Data</a></td>
        			<td><a th:href="'/student/update/' + ${student.npm}" >Update Data</a></td>
        		</tr>
        	</tbody>
        </table>
    </body>
   
    <!-- <head>
        <title>View All Students</title>
            
        
    </head>
    <body>
        <h1>All Students</h1>
        
    	<div th:each="student,iterationStatus: ${students}" th:class="${iterationStatus.odd}?'odd'">
            <h3 th:text="'No. ' + ${iterationStatus.count}">No. 1</h3>
	       	<h3 th:text="'NPM = ' + ${student.npm}">Student NPM</h3>
	       	<h3 th:text="'Name = ' + ${student.name}">Student Name</h3>
	       	<h3 th:text="'GPA = ' + ${student.gpa}">Student GPA</h3>
	       	
	       	
	       	<h3 th:if="${student.gpa>=3.49}">Cum Laude!</h3>
	       	<h3 th:unless="${student.gpa>=3.49}">Sangat Memuaskan!</h3>
	       	
	       	
	       	<ul th:each="course,iterationStatus: ${student.courses}">
				<li th:text="${course.nama} + '-' + ${course.sks} + ' sks'">
					Nama kuliah - X SKS</li>
			</ul>
	       	
	       	
	       	<a th:href="'/student/delete/' + ${student.npm}" > Delete Data</a><br/>
	       	<a th:href="'/student/update/' + ${student.npm}" > Update Data</a><br/>
	       	
	       	<hr/>
       	</div>
    </body> -->
</html>
